
<!DOCTYPE html>
<html>
<head>
	<title>Anti-Social Media - Home Feed</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link href="public/css/bootstrap-theme.css" rel="stylesheet">
	<link href="public/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="public/css/bootstrap.css" rel="stylesheet">
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
	<link href="public/css/project.css" rel="stylesheet">
</head>
<body>
	<div class="titleBar">
		<h1>Anti-Social Media - Home Feed</h1>
	<div>

	<!-- Screenshot of Interface -->
	<div class="screen">
		<img src="images/homeBase.png" class="img-responsive" 
		usemap="#imgmap"/>
	
		<!-- Make Post button -->
		<map name="imgmap">
    			<area shape="rect" coords="250,45,275,70"
				href="pages/makePost.html">

		<!-- Calendar button -->
    			<area shape="rect" coords="230,536,272,578"
				href="file:///Users/jaredsuasin/introHCI/COGS120-Project/pages/calendar.html">
		
		<!--  Data button -->
    			<area shape="rect" coords="25,540,73,576"
				href="file:///Users/jaredsuasin/introHCI/COGS120-Project/pages/data.html">

		<!--  Jump Date button -->
    			<area shape="rect" coords="25,44,64,55"
				href="file:///Users/jaredsuasin/introHCI/COGS120-Project/pages/jumpDate.html">


		
		
		</map>
	<div>

	<!-- Navigational HTML Links -->
	<!-- Comment out hyperlinks
	 <p>
	
	<div class="navBar">
	<a
	href="file:///Users/jaredsuasin/introHCI/COGS120-Project/pages/makePost.html">
	Make Post</a>
	</p>

	<p>
	<a
 	href="file:///Users/jaredsuasin/introHCI/COGS120-Project/pages/calendar.html">
	Calendar</a>
	</p>

	<p>
	<a
  	href="file:///Users/jaredsuasin/introHCI/COGS120-Project/pages/data.html">
	Data</a>
	</p>
	<div>
	-->

	<script src="../js/jquery-1.11.-.js">/script>
	<script src="https://jquery.com/jquery.js"></script>
	<script src="public/js/bootstrap.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
	
</body>
</html>
