
<!DOCTYPE html>
<html>
<head>
<title>Bliss - Home</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/project.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- Top fixed nav bar -->
<div id="navbartop">

	<a href="asdf">Submit</a>
	<a href="">Make Post</a>
	<a href=""></a>

</div>
<!--
<div class="topBuffer"></div>
-->
<div class = "activeHome">
	
	<!-- Iterate through data.json -->
	<div class="selectedEmote">
		<img src="{{emote}}">
		<a href="/selectEmote">Change emote</a>

	</div>
</div>


<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/topNavOnly.js"></script>

</body>
</html>
