/* Old nav bar */
.example-class-selector {
	margin-top: 2em
}

/* Start sticky navbar */
/* Style the navbar */
#navbartop {
  overflow: hidden;
  background-color: #ffffff;
  height: 60px;
  z-index:1;
  text-align: center;
}

/* Navbar links */
#navbartop a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  right: 0px;
  width: 33%;
}

#navbartop h3 {
  color: #FF2F2F;
}
#navbarbot {
  overflow: hidden;
  background-color: #ffffff;
  height: 70px;
  z-index:1;
}

/* Navbar links */
#navbarbot a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  width: 33%;
  height: 40px;
}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickytop {
  position: fixed;
  top: 0;
  width: 100%
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickybot {
  position: fixed;
  bottom: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickytop + .content {
  padding-top: 60px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickybot + .content {
  padding-bottom: 60px;
}

#navbartop post {
  text-align: right;
}

.iconimgtop {
  height: 36px;
}

.iconimgbot {
  height: 40px;
}
/* End sticky nav bar */

/* Start post formatting */

.post {
  text-align: center;
}

.activeHome{
}

.postEmote {
  height: 30px;
}

.postPhoto {
  width: 80%; 
}

.postVideo {
  width: 80%;
}

.postAudio {
  width: 80%;
}

.postText {
  width: 80%; 
}

.emoteRow {
  text-align: center;
  height: 100px;
  padding: 20px;
}

.selectEmote {
  height: 30px;
}

/* button group css */

.btn-group button {
    background-color: #ffffff;    
    color: black; /* White text */
    border: none;
    padding: 10px; /* Some padding */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #FFEDED;
}

/* Make Post page */
.selectedEmote {
  text-align: center;
  height: 50%;
  padding: 20px;
}
