/* Old nav bar */
.example-class-selector {
	margin-top: 2em
}

/* Start sticky navbar */
/* Style the navbar */
#navbartop {
  overflow: hidden;
  background-color: #ffffff;
  height: 56px;
}

/* Navbar links */
#navbartop a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  right: 0px;
  margin-right: 12px;
}

#navbarbot {
  overflow: hidden;
  background-color: #ffffff;
  height: 56px;
}

/* Navbar links */
#navbarbot a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  width: 33%;
  height: 40px;
}


/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickytop {
  position: fixed;
  top: 0;
  width: 100%
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.stickybot {
  position: fixed;
  bottom: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickytop + .content {
  padding-top: 60px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickybot + .content {
  padding-bottom: 60px;
}

#navbartop post {
  text-align: right;
}

.iconimgtop {
  height: 40px;
}

.iconimgbot {
  height: 40px;
}
/* End sticky nav bar */
